@use "sass:math";

/********************************************************/
$size_site_content_width: 1280px;

/* Media Queries  Not necessarily correct, edit these at will*/
$media_queries: (
        'mobile': "only screen and (max-width: 667px)",
        'tablet': "only screen and (min-width: 668px) and (max-width: #{$size_site_content_width})",
        'desktop': "only screen and (min-width: #{$size_site_content_width})",
        'retina2': "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
        'retina3': "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
        'landscape': "screen and (orientation: landscape)",
        'portrait': "screen and (orientation: portrait)"
);

@mixin for-breakpoint($breakpoints) {
  $conditions: ();
  @each $breakpoint in $breakpoints {
    // If the key exists in the map
    $conditions: append(
                    $conditions,
                    map-get($media_queries, $breakpoint),
                    comma
    );
  }

  @media #{$conditions} {
    @content;
  }
}

/********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@400;700;800&display=swap');

:root {
  //--cursor-default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='31' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23fff' fill-rule='evenodd' stroke='%23010101' stroke-linecap='square' stroke-width='2.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"), auto;
  --cursor-default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='31' fill='none'  x='0px' y='0px' viewBox='0 0 460.8 470.4' style='enable-background:new 0 0 460.8 470.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2319173A;%7D .st1%7Bfill:url(%23SVGID_1_);%7D .st2%7Bfill:%234E327A;%7D .st3%7Bfill:%23FC9103;%7D .st4%7Bfill:%23FCC903;%7D .st5%7Bfill:url(%23SVGID_00000093861890837607346710000009026511267769694644_);%7D .st6%7Bfill:url(%23SVGID_00000173862642275614227980000002784379990942872961_);%7D .st7%7Bfill:url(%23SVGID_00000155855459273609279580000001290194272012917667_);%7D .st8%7Bfill:url(%23ef8om3slEe428_00000070089425802240733330000010743727169161228470_);%7D .st9%7Bfill:url(%23ef8om3slEe429_00000163787852904420495900000003544639980635168939_);%7D%0A%3C/style%3E%3Cg id='Layer_1-2' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cg id='ef8om3slEe411'%3E%3Cg%3E%3Cpolygon class='st0' points='193.6,136.2 326.2,268.8 326.2,326.8 193.6,194.2 '/%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='-1393.8419' y1='24.5841' x2='-1393.952' y2='24.1941' gradientTransform='matrix(-51.9615 30 103.0713 103.0736 -74629.7891 39520.9961)'%3E%3Cstop offset='0' style='stop-color:%234557A1'/%3E%3Cstop offset='1' style='stop-color:%23431D7B'/%3E%3C/linearGradient%3E%3Cpolygon class='st1' points='378.1,238.8 326.2,268.8 223.1,165.7 275,135.7 '/%3E%3Cpolygon class='st2' points='378.1,296.8 326.1,326.8 326.1,268.8 378.1,238.8 '/%3E%3Cpolygon class='st3' points='366.1,290.3 338.2,306.4 338.2,275.3 366.1,259.2 '/%3E%3C/g%3E%3Cg id='ef8om3slEe417'%3E%3Cpath class='st4' d='M423.5,311.9c24.4,24.4,37.3,80.5,37.3,80.5s-55.6-12.5-80.5-37.3c-11.9-11.9-11.9-31.2,0-43.1 S411.6,300,423.5,311.9L423.5,311.9z'/%3E%3ClinearGradient id='SVGID_00000060720450292368428710000015611333344535976342_' gradientUnits='userSpaceOnUse' x1='-1376.3331' y1='17.1456' x2='-1376.3331' y2='17.9156' gradientTransform='matrix(-22.3941 22.3941 48.5782 48.5782 -31251.8848 30323.0703)'%3E%3Cstop offset='0' style='stop-color:%23FAF8F1'/%3E%3Cstop offset='1' style='stop-color:%23000000'/%3E%3C/linearGradient%3E%3Cpath style='fill:url(%23SVGID_00000060720450292368428710000015611333344535976342_);' d='M439.3,370.8c0,0-35.7-13.3-48.6-26.2 c-6.2-6.2-6.2-16.2,0-22.4s16.2-6.2,22.4,0C425.8,334.9,439.3,370.8,439.3,370.8z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st0' points='90.1,243.7 193.2,346.8 193.2,404.8 90.1,301.7 '/%3E%3ClinearGradient id='SVGID_00000120527102387857088340000003726224263041717405_' gradientUnits='userSpaceOnUse' x1='-1393.9891' y1='24.564' x2='-1393.9192' y2='24.1439' gradientTransform='matrix(-51.9615 30 103.0713 103.0736 -74762.7891 39598.9961)'%3E%3Cstop offset='0' style='stop-color:%234557A1'/%3E%3Cstop offset='1' style='stop-color:%23431D7B'/%3E%3C/linearGradient%3E%3Cpolygon style='fill:url(%23SVGID_00000120527102387857088340000003726224263041717405_);' points='245.1,316.8 193.2,346.8 90.1,243.7 142,213.7 '/%3E%3Cpolygon class='st2' points='245.1,374.8 193.1,404.8 193.1,346.8 245.1,316.8 '/%3E%3Cpolygon class='st3' points='233.1,368.3 205.2,384.4 205.2,353.3 233.1,337.2 '/%3E%3C/g%3E%3Cg id='ef8om3slEe425'%3E%3Cpath class='st4' d='M327.8,470.4c0,0-55.6-12.5-80.5-37.4c-11.9-11.9-11.9-31.2,0-43.1c11.9-11.9,31.2-11.9,43.1,0 C314.9,414.3,327.8,470.4,327.8,470.4z'/%3E%3ClinearGradient id='SVGID_00000006683980573561100520000003665390592190952073_' gradientUnits='userSpaceOnUse' x1='-1376.3331' y1='17.1456' x2='-1376.3331' y2='17.9156' gradientTransform='matrix(-22.3941 22.3941 48.5782 48.5782 -31384.8848 30401.0703)'%3E%3Cstop offset='0' style='stop-color:%23FAF8F1'/%3E%3Cstop offset='1' style='stop-color:%23000000'/%3E%3C/linearGradient%3E%3Cpath style='fill:url(%23SVGID_00000006683980573561100520000003665390592190952073_);' d='M306.3,448.8c0,0-35.7-13.3-48.6-26.2 c-6.2-6.2-6.2-16.2,0-22.4c6.2-6.2,16.2-6.2,22.4,0C292.8,412.9,306.3,448.8,306.3,448.8z'/%3E%3C/g%3E%3CradialGradient id='ef8om3slEe428_00000005249156796492555100000011009253608180415626_' cx='-1414.9858' cy='18.3245' r='1.27' gradientTransform='matrix(45.8342 352.422 180.3359 -32.0245 61546.7773 499262.4375)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' style='stop-color:%232E0837'/%3E%3Cstop offset='0.83' style='stop-color:%23891162'/%3E%3Cstop offset='1' style='stop-color:%232E0837'/%3E%3C/radialGradient%3E%3Cpath id='ef8om3slEe428' style='fill:url(%23ef8om3slEe428_00000005249156796492555100000011009253608180415626_);' d='M449.1,134.3 c1.6,2.8,0.4,40.1-0.7,44.9c-1.1,4.6-4.5,9-9.9,12.2c-3.9,2.3-8.4,3.6-12.9,4L202,218.6c-4.5,0.4-8.9,1.7-12.9,4s-6.8,5.2-8.5,8.4 L91.2,388.4c-1.7,3.2-4.5,6.1-8.5,8.4c-11.1,6.4-26.5,5.1-34.5-2.8c-2.7-2.7-4.2-5.9-4.6-9.1L0.6,61.7c-0.1-0.9-2.1-39.2,2.4-46.6 L449.1,134.3z'/%3E%3ClinearGradient id='ef8om3slEe429_00000101081370900387463690000017716303299633801355_' gradientUnits='userSpaceOnUse' x1='-1412.1475' y1='24.7801' x2='-1412.4574' y2='26.2001' gradientTransform='matrix(-395.9468 228.6 249.9717 249.9166 -565422.0625 316662.1875)'%3E%3Cstop offset='0' style='stop-color:%23D11B7E'/%3E%3Cstop offset='1' style='stop-color:%23F33780'/%3E%3C/linearGradient%3E%3Cpath id='ef8om3slEe429' style='fill:url(%23ef8om3slEe429_00000101081370900387463690000017716303299633801355_);' d='M10.7,4.1 L10.7,4.1c7.6-4.4,17.2-5.2,25-2.7l398.2,118.2c4,1.1,7.6,3.1,10.3,5.8c7.9,8,5.4,19.6-5.7,26c-3.9,2.3-8.4,3.6-12.9,4L202,178.6 c-4.5,0.4-8.9,1.7-12.9,4s-6.8,5.2-8.5,8.4L91.2,348.4c-1.7,3.2-4.5,6.1-8.5,8.4c-11.1,6.4-26.5,5.1-34.5-2.8 c-2.7-2.7-4.2-5.9-4.6-9.1L0.6,21.7C-0.5,15.3,3.1,8.4,10.7,4.1L10.7,4.1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"), auto;
  --color-pink: #bb1c94;
  --color-purple: #6435cb;

}

$color-platter: #6435cb, #bb1c94, #a324a4, #ce1789, #e6147c, #842cbc, #8f2cb1, #b41e9c, #c41c94, #f30c73, #dc1484, #9424ac, #842cb4, #7c2cbc, #742cbc, #ec24b4, #a428a8, #a428a8;


html, body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

html {
  cursor: var(--cursor-default) !important;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  height: unset;
}


@font-face {
  font-family: "wild_worldbold";
  src: url(./fonts/wild-world.otf);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "d3euronism";
  src: url(./fonts/d3euronism/D3Euronism_b.ttf);
  font-weight: normal;
  font-style: normal;
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  .scene {
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;


    .wall {
      background: url(./images/elements/space-wall.jpeg);
      background-size: cover;
    }

    .wrap {
      position: absolute;
      width: 1000px;
      height: 1000px;
      left: -500px;
      top: -500px;
      transform-style: preserve-3d;
      animation: move 12s infinite linear;
      animation-fill-mode: forwards;

    }

    .wrap:nth-child(2) {
      animation: move 12s infinite linear;
      animation-delay: 6s;
    }

    .wall {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      animation: fade 12s infinite linear;
    }

    .wrap:nth-child(2) .wall {
      animation-delay: 6s;
    }

    .wall-right {
      transform: rotateY(90deg) translateZ(500px);
    }

    .wall-left {
      transform: rotateY(-90deg) translateZ(500px);
    }

    .wall-top {
      transform: rotateX(90deg) translateZ(500px);
    }

    .wall-bottom {
      transform: rotateX(-90deg) translateZ(500px);
    }

    .wall-back {
      transform: rotateX(180deg) translateZ(500px);
    }

    @keyframes move {
      0% {
        transform: translateZ(-500px) rotate(0deg);
      }
      100% {
        transform: translateZ(500px) rotate(0deg);
      }
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

  }
}

.wild-world-bold {
  font-family: 'wild_worldbold', sans-serif;
}

/*************Glow Button****************/
.glow-on-hover {
  /*width: 220px;
  height: 50px;*/
  border: none;
  outline: none;
  /* color: #fff;
   background: #111;*/
  position: relative;
  z-index: 0;
  /*border-radius: 10px;*/
  cursor: var(--cursor-default) !important;

  transition: .3s ease-in-out;

  &:before {
    content: '';
    background: linear-gradient(45deg, #6435cb, #bb1c94, #a324a4, #ce1789, #e6147c, #842cbc, #8f2cb1, #b41e9c, #c41c94, #f30c73, #dc1484, #9424ac, #842cb4, #7c2cbc, #742cbc, #ec24b4, #a428a8, #a428a8);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: #000
  }

  &.active:before {
    opacity: 1;
  }

  &:active:after {
    background: transparent;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    //background: #111;
    //background: #d21787;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  &.flat-button {
    border-radius: 0;

    &:before, &:after {
      border-radius: 0;
    }
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-text {
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

/*************Glow Button****************/
#particles-js {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  -webkit-animation: rotate infinite;
  animation-duration: 500s;
  animation-delay: 0s;
}

@keyframes rotate {
  50% {
    transform: rotateZ(10deg);
  }
}

#spaceCanvas {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

$shooting-time: 4000ms;

.night {
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  // animation: sky 200000ms linear infinite;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  // width: 100px;
  height: 2px;
  background: linear-gradient(-45deg, #f30c73, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail $shooting-time ease-in-out infinite,
  shooting $shooting-time ease-in-out infinite;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #f30c73, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    // CodePen Error
    // @extend .shooting_star::before;

    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #f30c73, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(-45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      $delay: random(9999) + 0ms;
      top: calc(50% - #{random(400) - 200px});
      left: calc(50% - #{random(300) + 0px});
      animation-delay: $delay;
      // opacity: random(50) / 100 + 0.5;

      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45 + 360deg);
  }
}

.space-body {
  background-color: #010717;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.white-section-left {

  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.4);

  margin-left: unset;
  color: #111;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.white-section-right {

  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.4);

  margin-right: unset;
  color: #111;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.shadow-space {
  box-shadow: 0 0 50px 20px rgba(160, 117, 158, 0.47);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.float-effect {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.space-shuttle, .satellite {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.satellite {
  width: 96px;
  height: 96px;
  background-image: url(./images/elements/satellite.svg);
}

.space-shuttle {
  position: relative;
  width: 32px;
  height: 16px;
  background-image: url(./images/elements/space-shuttle.svg);

  .jet-trail {
    display: block;
    position: relative;
    top: 7px;
    left: -8px;
    width: 6px;
    height: 1px;
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #fff;
    transition: width 1s ease-in-out;
    animation: jet-trail-animate 1s ease infinite alternate;

    &._2 {
      margin-top: 2px;
      animation-delay: .5s;
    }
  }
}

@keyframes jet-trail-animate {
  0% {
    transform: translateX(6px);
    width: 1px;
  }
  100% {
    transform: translateX(1px);
    width: 6px;
  }
}

.sun {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  //opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;


  .ray_box {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
  }

  .ray {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    margin-left: 10px;
    border-radius: 80% 80% 0 0;
    position: absolute;
    opacity: 0.1;
  }

  .ray1 {
    height: 170px;
    width: 30px;
    -webkit-transform: rotate(180deg);
    top: -175px;
    left: 15px;
  }

  .ray2 {
    height: 100px;
    width: 8px;
    -webkit-transform: rotate(220deg);
    top: -90px;
    left: 75px;
  }

  .ray3 {
    height: 170px;
    width: 50px;
    -webkit-transform: rotate(250deg);
    top: -80px;
    left: 100px;
  }

  .ray4 {
    height: 120px;
    width: 14px;
    -webkit-transform: rotate(305deg);
    top: 30px;
    left: 100px;
  }

  .ray5 {
    height: 140px;
    width: 30px;
    -webkit-transform: rotate(-15deg);
    top: 60px;
    left: 40px;
  }

  .ray6 {
    height: 90px;
    width: 50px;
    -webkit-transform: rotate(30deg);
    top: 60px;
    left: -40px;
  }

  .ray7 {
    height: 180px;
    width: 10px;
    -webkit-transform: rotate(70deg);
    top: -35px;
    left: -40px;
  }

  .ray8 {
    height: 120px;
    width: 30px;
    -webkit-transform: rotate(100deg);
    top: -45px;
    left: -90px;
  }

  .ray9 {
    height: 80px;
    width: 10px;
    -webkit-transform: rotate(120deg);
    top: -65px;
    left: -60px;
  }

  .ray10 {
    height: 190px;
    width: 23px;
    -webkit-transform: rotate(150deg);
    top: -185px;
    left: -60px;
  }


  @-webkit-keyframes ray_anim {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.rounded-image-effect {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;

  &:hover {
    .text {
      display: flex;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .text {
    transition: 0.5s ease-in-out;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


body {
  $margin: 5rem;

  section {
    &:first-of-type {
      margin-top: $margin + 3rem;
    }

    margin-top: $margin;
    margin-bottom: $margin;

    .section-margin {
      margin-top: $margin;
      @include for-breakpoint(mobile) {
        margin-top: 2rem;
      }
    }
  }


}

.z-index-0 {
  z-index: 0;
}

.text-justify {
  text-align: justify;
}

.stroke-text {
  color: #111;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;

  text-transform: uppercase;
  font-family: 'wild_worldbold', sans-serif;
}

.sun-rays {
  box-shadow: 0px 0px 40px 15px white;
}

/*********************************/
.heading {
  margin-bottom: 5rem;
  position: relative;

  .headline, .sub-headline {
    //font-size: 15.5vw;
    text-align: center;
    line-height: 1.2;
    margin: 0;
  }

  img {
    width: 200px;
    position: absolute;

    &.ufo {
      top: -80px;
      transform: rotate(-20deg);
    }

    &.astronaut {
      top: -120px;
      right: -60px;
      transform: rotate(-20deg);
      width: 320px;
    }

    &.rocket {
      top: -80px;
      transform: rotate(20deg);
    }

    &.pl2 {
      top: -80px;
    }

    &.pl3 {
      top: -40px;
      right: 50px;
    }

    &.space-rocket-with-astronaut {
      top: -60px;
      right: 50px;
      width: 320px;
    }

    &.space-doodle {
      width: 80px;
      top: 0;
      left: -60px;
    }

    &.space-doodle2 {
      width: 80px;
      top: -40px;
      right: 0;
    }

    &.space-doodle3 {
      right: 100px;
      top: -20px;
      width: 80px;
    }

    &.space-doodle4 {
      left: -10px;
      top: -80px;
      width: 80px;
    }

    &.space-doodle5 {
      right: -80px;
    }

    &.space-doodle6 {
      width: 80px;
      left: 0;
    }

    &.astronaut-with-laptop {
      width: 180px;
      right: 0;
    }
  }

  .headline {
    text-transform: uppercase;
    font-family: 'wild_worldbold', sans-serif;
    font-size: clamp(12px, 8.5vw, 50px);
    color: #111;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
  }

  .sub-headline {
    font-size: clamp(12px, 4.5vw, 25px);
    color: #fff;
  }

  @include for-breakpoint(mobile) {
    margin-bottom: 3rem;

    img {

      &.ufo {
        top: -120px;
      }

      &.astronaut {
        width: 180px;
      }

      &.rocket {
        width: 120px;

      }

      &.pl2 {
        width: 120px;
        top: -100px;
      }

      &.pl3 {
        width: 120px;
        right: 0;
        top: -110px;
      }

      &.space-rocket-with-astronaut {
        width: 120px;
        right: 0;
      }

      &.space-doodle6 {
        top: -50px;
      }

      &.space-doodle {
        top: -60px;
        left: 0;
      }

      &.space-doodle2, &.space-doodle5, &.space-doodle8 {
        display: none;
      }

      &.space-doodle4 {
        right: 0;
        left: unset;
        top: -10px;
      }
    }
  }
}

footer {
  margin-top: 5rem;
  position: relative;

  .container {
    min-height: 300px;

    .copyright {
      position: absolute;
      bottom: 50px;
    }
  }

  .landscape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/elements/landscape.png);
    background-size: 1000px 250px;
    background-repeat: repeat-x;
    background-position: center bottom;
    z-index: -1;
  }

  h4 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  @include for-breakpoint(mobile) {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 15rem;
    .container {
      .copyright {
        text-align: center;
        position: relative;
        bottom: 0;
      }
    }
  }
}

header {
  &.stuck {
    /*.logo-light {
      display: none;
    }*/
    .logo-dark {
      display: none;
    }


    nav.navbar {
      //background-color: #fff !important;
      background-color: #000 !important;

      .nav-link {
        //--bs-nav-link-color: rgba(0, 0, 0);
        --bs-nav-link-color: rgba(255, 255, 255);
      }
    }
  }

  &:not(.stuck) {
    .logo-dark {
      display: none;
    }

    nav.navbar {
      .nav-link {
        --bs-nav-link-color: rgba(255, 255, 255);
        //--bs-nav-link-color: rgba(0, 0, 0);
      }
    }
  }

  @include for-breakpoint(mobile) {
    .navbar-collapse {
      background-color: #000;
    }
  }
  @include for-breakpoint(desktop) {
    ul.navbar-nav {
      & > li.nav-item {
        margin-left: 2rem;

        .nav-link {
          --bs-nav-link-font-size: 1rem;
        }

        .dropdown-menu {
          --bs-border-radius: 0;
          --bs-body-bg: #111;
          --bs-dropdown-link-color: white;
          --bs-dropdown-link-hover-color: white;
          --bs-dropdown-link-hover-bg: var(--color-pink);
        }
      }
    }
  }
}

section.home-banner {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 80px);
  min-height: 720px;
  position: relative;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.4;

    span.underline {
      border-bottom: 8px solid #f30c73;
    }
  }

  .skew {
    transform: skew(0deg, -6deg)
  }

  .banner-area {
    .vector, .arrow, .person {
      position: absolute;
    }

    .arrow {
      left: -420px;
      height: 80%;
      width: auto;
      bottom: 0;
      z-index: 1;
    }

    .person-container {
      height: 90%;
      width: 100%;
      bottom: 0;
      left: 0;

      position: absolute;

      .person {
        height: 100%;
        width: auto;
        left: 30px;
        bottom: 0;
        z-index: 3;
      }

      .elements {
        .vector {
          text-shadow: 0 0 50px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff, 0 0 200px #ffffff;
          animation: animate_vector 4s ease-in-out infinite;
          opacity: 1;
          //width: 80px;
          z-index: 2;

          &._1 {
            right: 173px;
            top: -12px;
            animation-delay: 2s;
          }

          &._2 {
            left: 300px;
            top: 200px;
            animation-delay: 3s;
          }

          &._3 {
            left: 0;
            top: 240px;
            animation-delay: 4s;
          }

          &._4 {
            right: 180px;
            bottom: 80px;
            animation-delay: 5s;
          }


          @keyframes animate_vector {
            0% {
              text-shadow: 0 0 50px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff, 0 0 200px #ffffff;
              transform: translatey(0px);
            }
            50% {
              transform: translatey(-20px);
            }
            80% {
              text-shadow: 0 0 0 #ffffff, 0 0 0 #ffffff, 0 0 0 #ffffff, 0 0 0 #ffffff;
            }
            100% {
              text-shadow: 0 0 50px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff, 0 0 200px #ffffff;
              transform: translatey(0px);
            }
          }

        }
      }
    }
  }

  @include for-breakpoint(mobile) {
    height: auto;
    .banner-area {
      margin-top: 80px;
      height: 480px;

      .arrow {
        left: -380px;
        height: 80%;
        width: auto;
      }

      .person-container {
        width: 100%;
        height: 80%;

        .person {
          height: 100%;
          left: 0;
          right: 0;
          margin: auto;
        }

        .elements {
          .vector {
            &._1 {
              top: 0px;
              right: 0;
            }

            &._2 {

            }

            &._3 {
              left: 40px;
            }

            &._4 {
                top:0;
              left:20px;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-height: 667px)
  and (orientation: landscape) {
    .arrow{
      display: none;
    }
  }
}

section#counter {

  .counter-container {
    display: flex;
    justify-content: space-around;

    & > .counter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: 50px;
      /*
            background-color: #FF6F6F;
            width: 200px;
            border-radius: 50%;
            height: 200px;
            vertical-align: middle;*/

      b {
        font-weight: normal;
      }

      .text {
        margin-top: 1rem;
        font-size: 20px;
      }

      width: 300px;
      height: 340px;
      background-size: contain;
      background-repeat: no-repeat;

      &.ellipse-red {
        background-image: url(./images/elements/average-speed-ellipse.png);

        .text {
          color: #94324b;
        }
      }

      &.ellipse-green {
        background-image: url(./images/elements/around-the-sun.png);

        .text {
          color: #668689;
        }
      }

      &.ellipse-brown {
        background-image: url(./images/elements/milestraveled-ellipse.png);

        .text {
          color: #9b7b72;
        }
      }

      &.ellipse-blue {
        background-image: url(./images/elements/orbits-on-mars-ellipse.png);

        .text {
          color: #336eb1;
        }
      }
    }
  }

  @include for-breakpoint(mobile) {
    .counter-container {
      flex-direction: column;

      & > .counter {
        width: 100%;
        background-position: center;
      }
    }
  }
}

#testimonials {
  $color_1: #3f51b5;
  $color_2: white;
  $color_3: black;
  $color_4: hsl(0, 0%, 81%);
  $color_5: #49505A;
  $color_6: #FFFFFF;
  $color_7: #4B5258;
  $color_8: #0e0e0e;

  a {
    &:link {
      color: $color_1;
    }

    &:active {
      color: $color_1;
    }

    &:visited {
      color: $color_1;
    }

    &:hover {
      color: $color_1;
    }
  }

  .outerdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .innerdiv {
    transform: scale(0.9);
    display: grid;
    grid-gap: 1.5rem;
  }

  .eachdiv {
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: $color_2;
  }

  .div1 {
    background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    /*background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 20rem;*/
  }

  .div2 {
    background: #49556B;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .div3 {
    background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: $color_3;
  }

  .div4 {
    background: white;
    grid-column: 1/2;
    grid-row: 2/3;
    color: $color_3;
  }

  .div5 {
    background: #f40e72;
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .userdetails {
    display: flex;
  }

  .imgbox {
    margin-right: 1rem;

    img {
      border-radius: 50%;
      width: 5rem;
      border: 2px solid #cec5c5;
    }
  }

  .detbox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
    }

    .name {
      color: $color_4;
      font-size: 0.9rem;
      margin-bottom: 0.1rem;
      font-weight: 600;
    }

    .name.dark {
      color: $color_5;
    }

    .designation {
      color: $color_4;
      opacity: 50%;
      font-size: 0.8rem;
    }

    .website {
      color: #0e0e0e;
    }

    .designation.dark {
      color: $color_5;
    }
  }

  .review {
    h4 {
      color: $color_6;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1rem;
      color: $color_6;
      font-weight: 500;
      opacity: 50%;
      line-height: 1.5;
    }
  }

  .review.dark {
    h4 {
      color: $color_7;
    }

    p {
      color: $color_8;
    }
  }

  .attribution {
    font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;

    a {
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 1000px) {
    .innerdiv {
      transform: scale(0.7);
    }
  }
  @media only screen and (max-width: 800px) {
    .innerdiv {
      transform: scale(0.6);
    }
  }
  @media only screen and (max-width: 600px) {
    .div1 {
      background-position-x: 10rem;
    }
    .innerdiv {
      display: flex;
      flex-direction: column;
      transform: scale(1);
      margin: 2rem;
      margin-bottom: 5rem;
    }
    .attribution {
      position: relative;
    }
  }
}

#paying {
  .image-section {
    position: relative;
    background: url(./images/elements/oval.svg) no-repeat bottom;
    background-size: contain;
    margin: auto;
    text-align: center;

    .person {
      width: 280px;
    }
  }

  $border-radius: 50px;

  .card {
    border-radius: $border-radius;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    &.glow-on-hover {
      &::before, &::after {
        border-radius: $border-radius;
      }

      color: white;
    }
  }

  @include for-breakpoint(mobile) {
    #glow-changer {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

section#orbit {

  .space-shuttle, .satellite {
    position: absolute;
    z-index: -1;
  }

  .space-shuttle {
    &._1 {
      right: 50%;
    }

    &._2 {
      top: 10%;
      right: 49%;
    }

    &._3 {
      top: 6%;
      right: 45%;
    }
  }

  .orbit-logo {
    position: absolute;
    z-index: 2;
  }

  .planet-container {
    padding-top: 2rem;
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;

    .planet {
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-box-pack: center;

      position: absolute;
      margin: auto;
      $pixels: 300vw;

      &.outer {
        @for $i from 1 through 3 {
          &._#{$i} {
            $radius: $i*12+$pixels;
            width: $radius;
            height: $radius;
            border-radius: $radius;

            & > .orbit-logo {
              left: 0;
              transform-origin: math.div($radius, 2) 0;

              img {
                transform: rotate(270deg);
              }
            }
          }
        }
      }

      &.inner {
        border: 1px solid #fff;
        $radius: $pixels;
        width: $pixels;
        height: $pixels;
        border-radius: $pixels;

        .sun {
          width: $pixels;
          height: $pixels;

          .ray_box {
            display: none;
          }
        }

        img {
          position: absolute;
          top: 40px;
          width: 200px;
        }
      }
    }
  }

  .contact-us {
    min-height: 200px;
    background: white;
    opacity: 1;

    box-shadow: 0px 0px 40px 15px white;

    .h1 {
      font-family: "wild_worldbold", sans-serif;
    }
  }

  @include for-breakpoint(mobile) {
    .planet-container {
      height: 50vh;
      padding-top: 10vh;

      .planet {
        $pixels: 200vw;

        &.outer {
          @for $i from 1 through 3 {
            &._#{$i} {
              $radius: $i*30+$pixels;
              width: $radius;
              height: $radius;
              border-radius: $radius;

              & > .orbit-logo {
                left: 0;
                transform-origin: math.div($radius, 2) 0;
              }
            }
          }
        }

        &.inner {
          $radius: $pixels;
          width: $pixels;
          height: $pixels;
          border-radius: $pixels;

          .sun {
            width: $pixels;
            height: $pixels;
          }

          img {
            width: 140px;
          }
        }
      }
    }
  }
}

#case-studies {
  @include for-breakpoint(mobile) {
    .row > .col-12 {
      margin-bottom: 5rem;
    }
  }
}

#latest-blog {
  .rounded-image-effect {
    border-radius: 20px;

    .text {
      display: block;
      top: unset;
      height: 80px;
      padding: 18px;

      * {
        margin: 0;
      }
    }
  }

  @include for-breakpoint(mobile) {
    .row > .col-12 {
      margin-bottom: 5rem;
    }
  }
}

section.core-values {
  .heading {
    .space-doodle {
      top: 0;
    }
  }
}

section.horizontal-slide {
  margin-top: 80px;
  height: calc(100vh - 100px);
  width: calc(33.33vw * 9);
  display: flex;
  flex-wrap: nowrap;

  .panel {
    width: 33.33vw;
    height: 80vh;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 1px solid white;
    overflow: hidden;
  }

  @include for-breakpoint(mobile) {
    width: calc(100vw * 9);
    .panel {
      width: 100vw;
    }
  }
}

section.team {

  .team-container {
    margin-top: 15rem;
    display: flex;
    justify-content: space-evenly;

    .box {
      width: 300px;
      border-radius: 150px;
      background: #fff;
      position: relative;
      overflow: hidden;
      text-align: center;
      color: black;
    }

    .box:before {
      position: absolute;
      content: '';
      left: 0px;
      top: 0px;
      width: 0px;
      height: 100%;
      border-radius: 150px;
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.30);
      transition: all 0.3s ease;
      background-image: linear-gradient(to right, var(--color-purple) 0%, var(--color-pink) 100%);
    }

    .box:hover:before {
      width: 100%;
    }

    .box:hover .image-wrapper {
      padding: 0;
    }

    .box:hover .box-desc {
      color: #fff;
    }

    .box:hover .social li a {
      background: #fff;
      background-image: none;
      color: #000;
    }

    .box:hover .social li a:hover {
      background: #1d1d1d;
      color: #fff;
    }

    .image-wrapper {
      position: relative;
      max-width: 210px;
      max-height: 210px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 50%;
      padding: 15px;
      transition: all 0.5s ease;
      box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.20);
    }

    .image-wrapper img {
      border-radius: 50%;
      transition: all 500ms ease;
    }

    .box-desc {
      position: relative;
    }

    ul.social {
      padding: 0;
    }

    ul.social li {
      display: inline-block;
      list-style-type: none;
    }

    ul.social li a {
      position: relative;
      width: auto;
      height: 36px;
      background-image: linear-gradient(to right, var(--color-purple) 0%, var(--color-pink) 100%);;
      display: inline-block;
      line-height: 36px;
      border-radius: 36px;
      padding: 0px 8px;
      color: #fff;
      transition: all .5s ease;
    }
  }

  @include for-breakpoint(mobile) {
    margin-top: 12rem !important;
    .team-container {
      flex-direction: column;
      margin-top: 2rem;
      justify-content: center;
      align-items: center;

      .box {
        margin-bottom: 2rem;
        width: 80%;
      }
    }
  }
}

.partnerships {
  #body {
    width: 100%;
    //min-height: 100vh;
  }

  #opty_hands {
    //background: #FEBD25;
    margin-left: 40%;
    width: 25vw;
    height: 25vw;
    font-size: 1.5vw;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .left-hand {
    display: block;
    position: absolute;
    top: 35%;
    left: -8%;
    width: 40%;
    height: 30%;
    z-index: 3;
    background: #282830;
    box-shadow: 0 2.3rem 0 0 rgba(0, 0, 0, 0.4) inset;
    transform: rotate(15deg);
  }

  .left-hand span {
    displaY: block;
    position: absolute;
    right: 15%;
    top: 40%;
    letter-spacing: -0.6rem;
    line-height: 0;
    color: #eee;
    font-size: 7em;
  }

  .left-hand::after {
    content: '';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    z-index: -1;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 10%;
    height: 100%;
    background: #2a2a2a;
  }

  .left-hand::before {
    content: '';
    display: block;
    position: absolute;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 100%;
    top: 12.5%;
    width: 15%;
    height: 75%;
    background: #fff;
  }

  .right-hand {
    display: block;
    position: absolute;
    top: 35%;
    right: -8%;
    width: 40%;
    height: 30%;
    z-index: 3;
    background: #6C8784;
    box-shadow: 0 2.3rem 0 0 rgba(0, 0, 0, 0.4) inset;
    transform: rotate(-15deg);
  }

  .right-hand span {
    displaY: block;
    position: absolute;
    left: 15%;
    top: 40%;
    letter-spacing: -0.6rem;
    line-height: 0;
    color: #eee;
    font-size: 7em;
  }

  .right-hand::after {
    content: '';
    position: absolute;
    display: block;
    right: 100%;
    top: 0;
    z-index: -1;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 10%;
    height: 100%;
    background: #2a2a2a;
  }

  .right-hand::before {
    content: '';
    display: block;
    position: absolute;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    right: 100%;
    top: 12.5%;
    width: 15%;
    height: 75%;
    background: #fff;
  }

  .left-shake {
    position: absolute;
    height: 18%;
    width: 31%;
    z-index: 2;
    border-radius: 20%;
    left: 31%;
    top: 54%;
    background: #F3D89F;
    transform: rotate(45deg);
  }

  .right-shake {
    position: absolute;
    height: 18%;
    width: 31%;
    z-index: 1;
    border-radius: 20%;
    right: 31%;
    top: 52%;
    background: #E3C39D;
    transform: rotate(-45deg);
  }

  .left-shake span {
    position: absolute;
    right: 0;
    top: -20%;
    z-index: 1;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.1);
    font-size: 3em;
    line-height: 25%;
  }

  .right-shake::after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 40%;
    border-radius: 30%;
    background: #F3D89F;
    top: -30%;
    z-index: -1;
    right: 13%;
    transform: rotate(40deg);
    box-shadow: -6px -5px 0 0 #E3C39D inset;
  }

  .left-shake::after {
    content: '';
    display: block;
    position: absolute;
    width: 60%;
    height: 40%;
    border-radius: 30%;
    background: #E3C39D;
    top: -40%;
    z-index: -1;
    right: 34%;
    transform: rotate(110deg);
    box-shadow: 0.1em -0.05em 0 rgba(0, 0, 0, 0.05);
  }

  .left-shake::before {
    content: '|||';
    font-weight: 500;
    text-indent: 0.25em;
    color: rgba(0, 0, 0, 0.1);
    line-height: 80%;
    font-size: 1.6em;
    letter-spacing: 0.15em;
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    background: #E3C39D;
    box-shadow: 0px -0.5em 0 0 #E3C39D inset, 0px -0.55em 0 0 rgba(0, 0, 0, 0.1) inset, 0px -1em 0 0 rgba(255, 255, 255, 0.2) inset, 0.1em -0.1em 0 0 rgba(0, 0, 0, 0.1);
    right: 10%;
    z-index: 2;
    border-radius: 20%;
    bottom: -10%;
  }

  .right-shake::before {
    content: '';
    display: block;
    position: absolute;
    width: 5%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    right: 39%;
  }

  .right-hand {
    -webkit-animation: right-arm 0.5s linear infinite alternate;
  }

  .left-hand {
    -webkit-animation: left-arm 0.5s linear infinite alternate;
  }

  .right-shake {
    -webkit-animation: right-hand 0.5s linear infinite alternate;
  }

  .left-shake {
    -webkit-animation: left-hand 0.5s linear infinite alternate;
  }

  @-webkit-keyframes right-arm {
    0% {
      top: 37%;
      transform: rotate(-15deg);
    }
    100% {
      top: 38%;
      transform: rotate(-20deg)
    }
  }

  @-webkit-keyframes left-arm {
    0% {
      top: 35%;
      transform: rotate(15deg);
    }
    100% {
      top: 36%;
      transform: rotate(20deg);
    }
  }

  @-webkit-keyframes right-hand {
    0% {
      top: 52%;
    }
    100% {
      top: 57%;
    }
  }

  @-webkit-keyframes left-hand {
    0% {
      top: 54%;
    }
    100% {
      top: 57%;
    }
  }

  .handshake-outer {
    $height: 320px;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;

    .handshake {
      position: relative;
      width: 20px;
      height: 20px;
      background: transparent;
      left: 0;
      z-index: -1;
      top: 0;
      border-radius: 50%;
      animation-name: shine-effect;
      animation-fill-mode: forwards;

      .handshake1 {
        position: absolute;
        width: 140px;
        left: -130px;
        top: -48px;
        transform: translateX(0) rotate(0deg);
        animation-name: handshake1;
        //animation: handshake1 3s ease 1;
        //animation-delay: 2s;
      }

      .handshake2 {
        position: absolute;
        width: 180px;
        left: 0;
        z-index: -1;
        top: -150px;
        transform: translateX(0) rotate(0deg);
        animation-name: handshake2;
        //animation: handshake2 3s ease 1;
        //animation-delay: 2s;
      }

      @keyframes handshake1 {
        0% {
          transform: translateX(-50vw) rotate(360deg);
        }
        100% {
          transform: translateX(0px) rotate(0deg);
        }
        /*40%, 60% {
          transform: translateX(0px) rotate(0deg);
        }
        100% {
          transform: translateX(-50vw) rotate(360deg);
        }*/
      }
      @keyframes handshake2 {
        0% {
          transform: translateX(50vw) rotate(360deg);
        }
        100% {
          transform: translateX(0px) rotate(0deg);
        }
        /*40%, 60% {
          transform: translateX(0px) rotate(0deg);
        }
        100% {
          transform: translateX(50vw) rotate(360deg);
        }*/
      }
    }


    @keyframes shine-effect {
      0% {
        box-shadow: 0 0 0 0 white;
      }
      100% {
        box-shadow: 0 0 40px 40px white;
      }
    }

    @include for-breakpoint(mobile) {
      //height: 100px;
    }
  }
}

section#contact-us {
  @include for-breakpoint(mobile) {
    margin-top: 16rem;
  }
}

.space-station {
  position: absolute;
  top: 0;
  right: 0;

  .station, .astronaut1, .astronaut2, .astronaut3 {
    position: absolute;
    right: 0;
    top: 0;
  }

  .station {
    z-index: -1;
  }

  .astronaut1, .astronaut2, .astronaut3 {
    z-index: -2;
  }

  .astronaut1 {
    right: 0;
    top: 300px;
    animation-delay: 1.2s;
  }

  .astronaut2 {
    right: 414px;
    top: 280px;
    animation-delay: 1.8s;
  }

  .astronaut3 {
    right: 295px;
    top: 107px;
    animation-delay: 1s;
  }

  @include for-breakpoint(mobile) {
    display: none;
  }
}

form {
  .form-group {
    margin-bottom: 2rem;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  input.form-control,textarea.form-control {
    border-radius: 0;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
    &:focus{
      background-color: transparent;
      color: white;
    }
  }
}